.img{
    position: absolute;
    left: 10px;
    margin:  15px 15px;
}
.doctors{
    display: inline-flex;
    margin: 15px;
}
.card-text{
    font-size: 20px;
}
.mainDiv{
    height: 100vh;
}

.card{
    margin-left: 20px;
}

.footer{
    text-align: center;
}