.img{
    position: absolute;
    left: 10px;
    margin:  15px 15px;
}
.nav-link{
    color: #1290cb;
}
.info{
    text-align: center;
    margin: 50px 77px;
}
.w1{
    margin-top: 50px;
    margin-bottom: 50px ;
    color: #6165FA;
    font-size: 60px;
}
.txt1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 25px;
    text-align: center;
 }
.w2{
    color: #6165FA;
    font-size: 50px;
}
.txt2{
    font-family: Arial, Helvetica, sans-serif;;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin: 20px 250px;
}

.card-body{
    background-color: rgb(100, 100, 250);
    color: white;
}
.cards{
    display: inline-flex;
}
.txt3{
    font-size: 20px;
    color: #fff;
    padding-top: 140px;
}
.btn2{
    font-family: Arial, Helvetica, sans-serif;;
    background: transparent;
    border-radius: 100px;
    border: solid 1px;
    cursor: pointer;
    color: #fff;
}
.btn2:hover{
    background-color: #fff;
    color: #000;
}
.row{
    background-color: #0fd1aa;
}
.contactUs{
    text-align: center;
    margin: 50px 90px;
}
.txt4{
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    color: #fff;
}
.form{
    margin: 30px;
}
label{
    color: #fff;
    font-size: 20px;
}
.help-block {
    color: red;
}

.form-group.has-error.has-danger .form-control-label {
    color: red;
}

.form-group.has-error.has-danger .form-control {
    border: 1px solid red;
    box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
}
.footer{
    text-align: center;
    margin: 50px 77px;
}
